# enviroment variables for project

# !!!Important!!!
# rename .env.example to .env.local or one of the below options
# for different enviroment variables for different project enviroments
# !!!🚨!!! For security reasons, DO NOT add env files to git repositories

# optional create:
# .local.test.env | enviroment variables for testing enviroment
# .local.dev.env | enviroment variables for development enviroment
# .local.production.env | enviroment variables for production enviroment

